
:root{
  --header-color:#2E2F42;
  --textlink-color:#434455;
  --link-color:#4D5AE5;
  --background-main:#E5E5E5;
  --footer-studio:#F4F4FD;
  --hero-bkgrd-color:#fff;
  --border-color:#E7E9FC;
  --hover-color:#404BBF;
}

/* -------------COMMON CLASSES---------- */
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
.button-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
.list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--header-color);
}

.text {
    color: var(--textlink-color);
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* ----------BODY------------ */
body {
    font-family: 'Roboto', sans-serif;
    color: var(--textlink-color);
    background-color: var(--hero-bkgrd-color);
}

/* ------HEADER------ */

.header {
    border-bottom: 1px solid var(--border-color);
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    color: var(--link-color);
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.studio {
    color: var(--header-color);
}

.link-navigation {
    color: var(--header-color);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.link-navigation:hover,
.link-navigation:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
}

.link-address {
    color: var(--textlink-color);
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.link-address:hover,
.link-address:focus {
    color: #404bbf;
}

/* ------HEADLINE SECTION------ */

.headline-section {
    background-color: var(--header-color);
}

.headline {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--hero-bkgrd-color);
    text-align: center;
}

.order-button {
    font-size: 16px;
    font-family: inherit;
    color: var(--hero-bkgrd-color);
    background: var(--link-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}

.order-button:hover,
.order-button:focus {
    background-color: #404BBF;
}

/* -------FEATURE SECTION--------- */

/* --------DOING SECTION-------- */

/* --------TEAM SECTION--------- */

.title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--header-color);
}

.team-section {
    background: var(--footer-studio);
}

.list-team {
    background-color: var(--hero-bkgrd-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

/* -------FOOTER---------- */

.footer-studio{
    color: var(--footer-studio);
}
footer {
    background-color: var(--header-color);
}

.footer-text {
    color: var(--footer-studio);
}

/* --------PORTFOLIO.HTML--------- */
/* HEADER */

/*----------FEATURE SECTION-------- */

.portfolio-button{
 font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color:var(--link-color);
  background-color: var(--footer-studio);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  cursor: pointer
}

.portfolio-button:hover, .portfolio-button:focus{
    background-color: #404BBF;
    color: #FFFFFF;
}

/* FOOTER */
